.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-card-title{
    text-align: center;
}
ion-card{
    height: 35vh;
    width: 40vh;
}
ion-content{
    --background: var(--ion-color-secondary-shade)
}
ion-button{
    margin-top: 5vh;
    --background: var(--ion-color-secondary-shade)
}

