.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-card-title{
    text-align: center;
}
ion-card{
    height: auto;
    width: auto;
}
ion-content{
    --background: var(--ion-color-secondary-shade)
}
ion-button{
    --background: var(--ion-color-secondary-shade)
}