<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Registro
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input type="text" label="Nombre" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="text" label="Apellido" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" label="Correo electronico" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="password" label="Contraseña" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input type="email" label="Email" labelPlacement="floating"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>