<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button href="/home">Atras</ion-button>
    </ion-buttons>
    <ion-title>
      Registro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="flex-center">
    <form [formGroup]="formRegister" (ngSubmit)="register()">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellido</ion-label>
        <ion-input formControlName="apellido"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Correo</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-button class="fixed-bottom" size="full" type="submit">Ingresar</ion-button>
    </form>
  </div>
</ion-content>