.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

ion-card-title{
    text-align: center;
}
ion-card{
    height: 60%;
    width: 70%;
}
ion-content{
    --background: var(--ion-color-secondary-shade)
}
ion-button{
    margin-bottom: 18%;
    --background: var(--ion-color-secondary-shade)
}