<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          PetAppoint
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button size="full" class="fixed-bottom" href="/calendario">
          Calendario
        </ion-button>
        <ion-button size="full" class="fixed-bottom" href="/consultas">
          Consultas
        </ion-button>
        <ion-button size="full" class="fixed-bottom" href="/pacientes">
          Pacientes
        </ion-button>
        <ion-button size="full" class="fixed-bottom" href="/register">
          Registrar
        </ion-button>
        <ion-button size="full" class="fixed-bottom" href="">
          Cerrar Sesion
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>